.s-hero {
  padding-top: 5.938vw;
  padding-bottom: 8.854vw;
  position: relative;

  &__title {
    margin: 0 0 3.125vw 0;
    font-size: 2.500vw;
    font-weight: 300;
    line-height: 2.865vw;

    &-strong {
      font-weight: 700;
    }
  }

  &__list {
    margin-bottom: 3.125vw;

    &-item {
      padding-left: 1.979vw;
      margin-bottom: 1.146vw;
      font-size: 0.938vw;
      letter-spacing: 0.023vw;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 0.417vw;
        height: 0.417vw;
        box-shadow: 0 1px 13px rgba(239, 148, 153, 0.38);
        border: 4px solid #f7f7fb;
        background-color: #ef9499;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }

  &__btn {
    padding: 1.302vw 7.865vw 1.302vw 2.135vw;
    letter-spacing: 0.087vw;
    font-size: 0.729vw;

    &::after {
      content: '';
      display: block;
      width: 14.219vw;
      height: 3.854vw;
      background-image: url(../img/branch.png);
      background-size: cover;
      position: absolute;
      top: 7%;
      right: -35%;
    }
  }

  &__client-map {
    position: absolute;
    top: 20.313vw;
    left: 36.458vw;
  }

  &__img {
    position: absolute;
    top: 1.302vw;
    right: 0;
    z-index: -2;

    & > img {
      width: 45.208vw;
      height: 39.583vw;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.619vw;
    height: 1.619vw;
    position: absolute;
    bottom: 5.629vw;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to top, #ee858c 0%, #fabcbc 98%, #fabcbc 100%);
    border-radius: 50%;
    z-index: 1;

    &::before {
      content: '';
      width: 3.594vw;
      height: 3.646vw;
      border: 1px solid #ffffff;
      border-radius: 50%;
      position: absolute;
      top: -90%;
    }

    &::after {
      content: '';
      width: 5.260vw;
      height: 5.260vw;
      border-radius: 50%;
      opacity: 0.5;
      position: absolute;
      top: -170%;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
      border: solid 0.521vw transparent;
      z-index: -1;
    }

    &-wrapper {
      width: 1.302vw;
      height: 1.302vw;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      & > img {
        width: 0.573vw;
        height: 0.365vw;
      }

      &::before {
        content: '';
        display: block;
        width: 0.104vw;
        height: 1.198vw;
        background-color: #ee858c;
        position: absolute;
        bottom: -1.306vw;
        left: 50%;
        transform: translateX(-50%);
      }

      &::after {
        content: '';
        display: block;
        width: 0.260vw;
        height: 0.260vw;
        background-color: #fff;
        border: 0.156vw solid #ee858c;
        border-radius: 50%;
        position: absolute;
        bottom: -1.823vw;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.client-map {
  &__img {
    & > img {
      width: 44.427vw;
      height: 27.135vw;
    }
  }

  &__icon {
    position: absolute;
    top: 33%;
    left: 36%;
    z-index: 2;
    cursor: pointer;

    &:hover {
      &::before {
        animation: none;
      }

      & ~ .client-map__hint {
        opacity: 1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 2.135vw;
      height: 2.135vw;
      top: 11%;
      left: 14%;
      opacity: 0;
      border: 3px solid rgba(255, 255, 255, 0.1);
      animation: pulse 1.5s linear infinite;
      border-radius: 50%;
      box-shadow: inset 0px 0px 15px 10px rgba(255, 97, 120, 0.4);
      z-index: -1;
    }

    &-img {
      width: 3.854vw;
      height: 3.854vw;
    }
  }

  &__hint {
    padding: 1.771vw 1.406vw 1.510vw 1.406vw;
    width: 9.167vw;
    height: 10.938vw;
    box-shadow: 0 2px 18px rgba(187, 194, 206, 0.32);
    background-color: #fffefd;
    position: absolute;
    top: 0;
    left: 40%;
    border-radius: 50% 50% 10px 10px / 10% 10% 10px 10px;
    font-size: 0.729vw;
    letter-spacing: 0.073vw;
    text-align: center;
    opacity: 0;
    transition: .3s;

    &::before {
      content: '';
      top: -0.521vw;
      right: -0.521vw;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      background-color: #fffefd;
      opacity: .5;
      border-radius: 50% 50% 10px 10px / 10% 10% 10px 10px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 0;
  }

  60% {
    transform: scale(1.3);
    opacity: .6;
  }

  70% {
    transform: scale(1.5);
    opacity: .85;
  }

  80% {
    transform: scale(1.7);
    opacity: .6;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

@media (max-width: 992px) {
  .s-hero {
    padding-top: 3.4375rem;
    padding-bottom: 5.1875rem;

    &__title {
      margin-bottom: 1.8125rem;
      line-height: 1.625rem;
      font-size: 1.4375rem;
    }

    &__list {
      margin-bottom: 1.8125rem;

      &-item {
        padding-left: 1.125rem;
        margin-bottom: 0.625rem;
        font-size: 0.54375rem;
        letter-spacing: 0.0125rem;

        &::before {
          width: 0.24375rem;
          height: 0.24375rem;
        }
      }
    }

    &__btn {
      padding: 0.75rem 4.5625rem 0.75rem 1.25rem;
      font-size: 0.425rem;
      letter-spacing: 0.05rem;

      &::after {
        width: 8.3125rem;
        height: 2.25rem;
      }
    }

    &__client-map {
      top: 12rem;
      left: 21rem;
    }

    &__img {
      display: none;
    }

    &__arrow {
      display: none;
    }
  }

  .client-map {
    &__img > img {
      width: 26.04375rem;
      height: 15.90625rem;
    }

    &__icon {
      &-img {
        width: 2.25rem;
        height: 2.25rem;
      }

      &::before {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    &__hint {
      padding: 1.03125rem 0.8125rem 0.875rem;
    }
  }
}

@media (max-width: 576px) {
  .s-hero__client-map {
    display: none;
  }
}