@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/Museo Sans/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/Museo Sans/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/Museo Sans/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 700;
}
